@import "tailwindcss";

@theme {
  /* Kapıwear Marka Renkleri */
  --color-kapi-black: #050505;
  --color-kapi-neon: #E6FB04;
  --color-kapi-gray: #888888;
  --color-kapi-dark: #121212;
}

/* Varsayılan Ayarlar */
:root {
  background-color: var(--color-kapi-black);
  color: white;
}